.card {
    width: 100px;
    height: 200px;
    background-color: lightblue;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Trebuchet MS';
    cursor: pointer;
}

.card.flipped {
    background-color: white;
}