body {
background-color: #f2DAED;
}

.heading {
  text-align: center;
  font-family: 'Trebuchet MS';
  margin-top: 50px;
  margin-bottom: 50px;
}

.instructions {
  text-align: center;
  font-family: 'Trebuchet MS';
}


